body{
	font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

li {
	list-style-type: none;
}

/* Font-Styles*/

.top-navigation	.links{
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation .content .links > li{
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .content .links .active {
	color: #4C5058;
	font-weight: 500;
}

.top-navigation > .content > .links  > li:hover{
	cursor: pointer;
	color: #333333;
}

.top-navigation > .content > .links > li > a {
	text-decoration: none;
}

/*navigation-section layout*/

.top-navigation{
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links  {
	float: right;
	margin-top: 2em;
}

.logo{
	float: left;
	margin-top: 1em;
	margin-left: 4em;
}

/* Middle-content layout*/

.background {
	background-image: url("../images/first-background copy.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;

}

.background h1 {
	font-size: 3.1em;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-top: 5em;
}

.background h3{
	font-size: 1.2em;
	font-weight: 300;
	color: white;
	text-align: center;
}

.background .button-group{
	color: white;
	text-align: center;
	margin-top: 1.563em;
}

.btn{
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.btn:hover {
    background-color: #e5e5e5; 
    cursor: hand;   
}

/* Icon Layout*/

.icons-section .icons > li{
	display: inline-block;
	padding: 0 6em;
}




