html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

li {
	list-style-type: none;
}

/* Font-Styles*/

.top-navigation	.links{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation .content .links > li{
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .content .links .active {
	color: #4C5058;
	font-weight: 500;
}

.top-navigation > .content > .links  > li:hover{
	cursor: pointer;
	color: #333333;
}

.top-navigation > .content > .links > li > a {
	text-decoration: none;
}

/*navigation-section layout*/

.top-navigation{
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation > .links  {
	float: right;
}

.logo{
	float: left;
}
